<div class="swatch-green-white" >
  <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <div id="swatch_social-4" class="widget-impar widget-primero widget-1 sidebar-widget  widget_swatch_social">
            <ul class="unstyled inline small-screen-center social-icons social-simple social-big">
              <li><a target="_blank" data-iconcolor="#3b5998" href="https://facebook.com/"><i class="fa fa-facebook"></i></a></li>
              <li><a target="_blank" data-iconcolor="#00acee" href="https://twitter.com/"><i class="fa fa-twitter"></i></a></li>
              <li><a target="_blank" data-iconcolor="#c4302b" href="https://www.youtube.com/"><i class="fa fa-youtube"></i></a></li>
              <li><a target="_blank" data-iconcolor="#910101" href="https://pinterest.com/"><i class="fa fa-pinterest"></i></a></li>
              <li><a target="_blank" data-iconcolor="#634d40" href="https://instagram.com/" style="background-color: rgba(0, 0, 0, 0);"><i class="fa fa-instagram" style="color: rgb(255, 255, 255);"></i></a></li>
              <li><a target="_blank" data-iconcolor="#5FB0D5" href="https://www.linkedin.com/"><i class="fa fa-linkedin"></i></a></li>
            </ul>
          </div>
          <div id="text-2" class="widget-par widget-último widget-2 sidebar-widget  widget_text">
            <div class="textwidget">
              <div class="terminoslegales">
                <a href="#">Aviso Legal y Política de Privacidad</a> 
                |<br> 
                <a href="#">Ley de Cookies</a>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>