<div class="container">

<div class="mb-3">
  <h2 class="text-center" >Carro de Compras</h2>
  <h5 class="text-center" > Productos </h5>
</div>

<table class="table table-striped table-hover" >
  <thead>  
    <tr class="thead-dark">
      <th scope="col" width="5%" ></th>
      <th scope="col" width="40%" >PRODUCT</th>
      <th scope="col" width="20%">PRICE</th>
      <th scope="col" width="15%">QUANTITY</th>
      <th scope="col" width="20%">TOTAL</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of dataTable">
      <td> <span (click)="deleteProduct(item.id_product)" ><i class="fa fa-close" aria-hidden="true"></i></span></td>
      <td>{{item.name}}</td>
      <td>$ {{item.value}}</td>
      <td>{{item.quantity}}</td>
      <td>$ {{item.total}}</td>
    </tr>
  </tbody>
</table>

<table class="table" >
  <tr>
    <th colspan="4" width="80%"></th>
    <th scope="col" width="20%">$ {{total}}</th>
</tr>
</table>

<div class="row float-right" style="margin-right: 0px;">
  <input type="button" (click)="SaveOrder()" name="checkout" class="cart-update button secondary" value="Verificar">
</div>

</div>