<div class="header">
  <app-navbar></app-navbar>
</div>

<div class="banner">
  <app-banner></app-banner>
</div>

<div class="container-fluid">
  <div class="main-panel">

    <div class="sidebar">
      <app-sidebar name="sidebar"></app-sidebar>
    </div>
    <div class="left">
      <div class="container-fluid">
        <router-outlet></router-outlet>      
      </div>
    </div>
  </div>
</div>
  
<div class="footer">
  <app-footer></app-footer>
</div>

