
.swatch-green-white{
  background-color: rgba(28,186,204,1)!important;
}

.swatch-green-white, [class*="swatch-"] .swatch-green-white {
  background: #004c63;
  color: #fff;
}

@media (min-width: 1400px){

  .section {
    padding: 120px 0;
  }

}

ul.inline {
  margin-left: 0;
  padding-left: 0;
  list-style-type: none;
  margin-top: 30px;
}

.social-icons {
  margin-bottom: 0;
  padding-bottom: 24px;
  position: relative;
  z-index: 1;
}

ul.inline li {
  display: inline-block;
  padding: 0 5px;
}

.social-icons li {
  text-align: center;
}

.widget_swatch_social ul.social-icons li a, .terminoslegales a {
  margin-top: 0;
  color: #fff !important;
}

.terminoslegales{
  margin-bottom: 40px;
}

.swatch-green-white .social-icons li a, [class*="swatch-"] .swatch-green-white .social-icons li a, .swatch-green-white .social-share li a, [class*="swatch-"] .swatch-green-white .social-share li a
{
  background-color: #fff;
}

.social-icons.social-simple a {
  background: none!important;
}

.social-icons.social-big a {
  font-size: 36px;
  width: 72px;
  height: 72px;
  line-height: 72px;
}

.social-icons li a {
  display: inline-block;
  font-size: 18px;
  width: 36px;
  height: 36px;
  line-height: 36px;
  border-radius: 50%;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.swatch-green-white a, [class*="swatch-"] .swatch-green-white a {
  color: #f9fdff;
}