form{

  .btn, .btn:hover, .btn-primary:not(:disabled):not(.disabled):active {

    background-color: #b1d641;
    border-color: #b1d641;
    color: #ffffff;
    font-size: 24px;

  }

  .recupera{
    text-align: center;
    display: block;
    margin-top: 35px;
    margin-bottom: 12px;
  }

}

button.single_add_to_cart_button{
  background: #252525!important;
  color: #f7f7f7;
  border: 0;
  border-radius: 0px 0px 10px 10px;;
  box-shadow: none;
  height: 30px;
  padding: 0 10px;
  margin-left: auto;
  outline: 0 !important;
  margin-right: auto;
  display: inherit;
  width: 100%;
}

.single_add_to_cart_button span{
  margin-left: 6px;
  font-size: 0.87em;
}

.button{
  cursor: pointer;
}

.button.secondary, .submit.secondary, button.secondary, input[type="submit"].secondary, input[type="button"].secondary {
  background: #00abe0;
  color: #fff;
}

button, .submit, button, input[type="submit"], input[type="button"] {
  background: #7dcbb6;
  font-family: "Source Sans Pro",sans-serif;
  font-weight: 700;
  color: #fff;
  -webkit-appearance: none;
  display: inline-block;
  cursor: pointer;
  border: none;
  text-align: center;
  line-height: normal;
  padding: 15px 20px;
  border-radius: 2px;
  font-size: 14px;
  -webkit-transition: all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -moz-transition: all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  font-size: 13px;
  margin: 2px
}

@media screen and (min-width: 576px) and (max-width: 1028px){

  form{

    label{
      float: left;
      width: 30% !important;
    }

    select, input{
      width: 70% !important;
    }
  }
}

@media screen and (min-width: 528px){

  ::-webkit-input-placeholder {
    color:white !important;
  }

  .placeselect{
    display: none;
    color: white !important;
  }

}

