.header {
 
  background-color: #444444;
  height: 60px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;

}

.logo img{
  width: 40%;
  margin-top: -22px;
  margin-left: 4%;
}

.car{
  float: right;
}

.car span{
  font-size:16px; 
  color: #ffffff; 
  display: -webkit-inline-box;
  height: fit-content;
  text-indent: 7px;
  line-height: 20px;
}

.car i{
  font-size:20px; 
  color: #ffffff; 
  display: -webkit-inline-box;
  height: fit-content;
  
}

.menu {
  display: none;
}

.info{    
  margin-top: -27px;    
}

@media screen and (max-width: 576px){

  .logo img{    
    display: block;
    width: 56%;
    margin: 0px auto;
  }
  
  .info{    
    margin-top: 7px;    
  }

  .menu {
    display : block;
    position: absolute;
    margin-left: 25px;
    margin-top: -9px;
    z-index: 1;
  }

  .car span {
    font-size: 12px;
    color: #000;
  }

  .car i{
    font-size:18px; 
    color: #000; 
  }
}

.navigation-bar {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  padding: 15px 0;
  font-size: 30px;
}