
.wrapper{
  display: flex;
}

.container-fluid{
  display: flex;
}

@media (min-width: 1200px){

  .container {
    width: 1170px;
  }

}

@media (min-width: 992px){

  .container {
    width: 970px;
  }

}

@media (min-width: 768px){

  .container {
    width: 750px;
  }

}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.sidebar{
  
  width: 250px;
  display: flex;
  left: 0;
  bottom: 0;
  overflow: hidden;
  border-radius: 0 0 4px 4px;
  transition-delay: .25s;
  transition: .3s;
  z-index: 9;
  float: left;
  
}

.main-panel{

  padding: 0 5px 70px;
  min-height: 120vh;
  vertical-align: top;
  font-size: 14px;
  float: left;
 
}

.left{
  padding-left: 250px;
}

.k-treeview {
  width: 100%;
}

.k-treeview .k-i-expand{
  margin-left: 0px !important;  
}

a {
  transition: all 0.3s ease-in-out;
}

a {
  color: #337ab7;
  text-decoration: none;
}

@media screen and (max-width: 575px){

  .hide{
    display: none;
  }
  
  .sidebar{
    width: 100%;
  }

  .left{
    padding-left: 0px;
  }
  
  .hide{
    display: none;
  }
  
}
