<h2 class="mt-5 mb-3">Productos</h2>

<div class="row mb-3" *ngIf = "(totalproductos.length > 0 || visible == true)">
  
  <div class="col-12">
    <div class="row mb-3">
      <span class="col-12 col-lg-2 col-md-2">Filtrar Por: </span>
      <div class="col-12 col-lg-3 col-md-3">
        <select class="form-control" (click)="filtrar()" [(ngModel)]="disponible">
          <option value="">Seleccione Disponibilidad</option>
          <option *ngFor="let i of listdisponibilidad" value="{{ i.value }}">{{ i.label }}</option>
        </select>
      </div>
      <div class="col-12 col-lg-3 col-md-3">
          <select class="form-control">
              <option value="">Precio</option>
              <option *ngFor="let i of position" value="{{ i.value }}">{{ i.label }}</option>
          </select>
      </div>
      <div class="col-12 col-lg-3 col-md-3">
        <select class="form-control">
          <option value="">Cantidad</option>          
          <option *ngFor="let i of position" value="{{ i.value }}">{{ i.label }}</option>
        </select>
      </div>
    </div>
  </div>
  
  <div class="col-12 col-lg-6 col-md-6">
    <div class="row mb-3">
      <span class="col-12 col-lg-4 col-md-4">Ordenar Por: </span>
      <div class="col-12 col-lg-4 col-md-4">
        <select class="form-control" [(ngModel)]="order">
          <option value="">Seleccione Item</option>
          <option *ngFor="let i of ordenar" value="{{ i.value }}">{{ i.label }}</option>
        </select>
      </div>
      <div class="col-12 col-lg-4 col-md-4">
        <select class="form-control" [(ngModel)]="reverse">
          <option *ngFor="let i of position" value="{{ i.value }}">{{ i.label }}</option>
        </select>
      </div>
    </div>
  </div>
  
  <div class="col-12" *ngIf="!sublevels">
    <div class="row mb-3">
      <span class="col-12 col-lg-2 col-md-2">Buscar Productos: </span>
      <div class="col-12 col-lg-6 col-md-6">
        <input type="search" class="form-control" [(ngModel)]="search">         
      </div>        
    </div>
  </div>
  
</div>

<div class="row">
  <div class="col-12 col-lg-2 col-md-2 mb-4">
    <div *ngFor="let item of totalproductos | orderBy: order:reverse">
      <div class="mr-2 caja">
        
        <h5 class="caja-title">{{ item.name }}</h5>            
        
        <div class="caja-content">
          
          <h6 class="caja-title">$ {{ item.price }}</h6>

          <h6 class="caja-title">          
            <div *ngIf="item.available === true; then divLine else divBlock"></div>
                
              <ng-template #divLine>
                Cant. : {{ item.quantity }}          
              </ng-template>
                
              <ng-template #divBlock>
                No Disponible
              </ng-template>
          </h6>
        
          <button type="buttom" (click)="setCar(item)" name="add-to-cart" value="{{ item.id }}" class="single_add_to_cart_button button">
            <div *ngIf="item.available === true" style="margin-top: -2px;"> 
                <i class="fa fa-plus" aria-hidden="true"></i>
                <span >Agregar</span> 
            </div>
          </button>
        
        </div>
      </div>
    </div>   
  </div> 
</div>


