<h2 *ngIf = "visible == true" class="mt-3 mb-4">Categorias</h2>

<div class="row">
  <div *ngFor="let item of finalc" class="col-12 col-lg-3 col-md-3">
    <div class="mr-2 caja caja-catgories">        
      <a [routerLink]="['/categories', item.name]" routerLinkActive="active" >
        <h3 class="caja-title">{{ item.name }}</h3>
      </a>
      <div class="caja-content">
      </div>
    </div>
  </div>    
</div>

<app-products></app-products>
