<div class="sidebar-wrapper">
  <kendo-treeview
    [nodes]="menuItems"
    textField="name"
    childrenField="sublevels"
    kendoTreeViewExpandable
    kendoTreeViewSelectable
    kendoTreeViewHierarchyBinding
    [(expandedKeys)]="expandedKeys"
    [expandBy]="'name'"  
  >
  
    <ng-template kendoTreeViewNodeTemplate let-dataItem>        
      <a [routerLink]="['/categories', dataItem.name ]" routerLinkActive="active">
        {{dataItem.name}}
      </a>      
    </ng-template>

  </kendo-treeview>

</div>