<div class="navigation-bar">
  <div class="row">  
       
  <div class="col-12 col-lg-6 col-md-6">
    <a href="" class="logo" title="Compara Online">
      <img src="assets/images/Logo-CO-blanco.png" alt=""/>
    </a>
  </div>
  <div class="col-12 col-lg-6 col-md-6">
    <div class="info" >
      <span class="car mr-3 ">
        <i class="fa fa-phone" aria-hidden="true"></i>
        <span>Bogotá +57 1 345 0000 </span>
      </span>
      <span class="car mr-3">
        <a [routerLink]="['/cart']" >
          <i class="fa fa-shopping-cart" aria-hidden="true"></i>
          <span>({{total}})</span>
        </a>
      </span>
    </div>
  </div>

</div>