  
<div class="row">

  <div class="col-12 mb-3 text-center">
    <h1>Nuestros Recomendados</h1>
  </div>       
  
  <div class="col-12 col-sm-12 col-md-6">       
    <h3 class="text-center mb-3" >Celebra</h3>
    <img src="assets/images/celebraciones.jpg" alt="Celebraciones" class="img-fluid" />
  </div>
  
  <div class="col-12 col-sm-12 col-md-6">       
    <h3 class="text-center mb-3" >Alegar el día</h3>
    <img src="assets/images/Golosinas.jpg" alt="Golosinas" class="img-fluid" />
  </div>
</div>
    
